.body {
  padding-left: 450px;
  padding-right: 450px;
  padding-top: 35px;
}

.titleForm {
  text-align: center;
}

.inputForm {
  width: 100%;
}

.buttonForm {
  text-align: center;
}

.errorMessage {
  text-align: center;
}
