<div class="container" xmlns="http://www.w3.org/1999/html">
  <p>
    Dans le cadre du module de projet du 8ème semestre de notre 4ème année en
    cycle d’ingénieur informatique à Polytech Marseille, nous avons pour
    objectif la création d’une application web qui permet aux utilisateurs de
    donner leurs avis des restaurants.
    <br />
    <mat-divider></mat-divider>
    <br />
    Les avis et les notes seront visibles par tous les utilisateurs, cela leur
    permettra d’avoir une idée générale sur le restaurant et de connaître les
    évolutions de leurs notes au cours du temps.
    <br />
    <mat-divider></mat-divider>
    <br />

    L’équipe est formée de deux étudiantes Maha EL KOURDI et Ikram LAGUIR, cette
    équipe est encadrée par Monsieur Nicolas Baudru.
  </p>
<div class="row row-cols-2">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <ngx-avatar class="my-avatar" src="./assets/accueil/1.jpg" size="100"></ngx-avatar>
    </div>
    <mat-card-title>Maha EL KOURDI</mat-card-title>
    <mat-card-subtitle>Développeur Frontend</mat-card-subtitle>
  </mat-card-header>
</mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <ngx-avatar class="my-avatar" src="./assets/accueil/1.jpg" size="100"></ngx-avatar>

      </div>
      <mat-card-title>Ikram LAGUIR</mat-card-title>
      <mat-card-subtitle>Développeur Backend</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
</div>
