p
  {
    width: 70%;
    margin: auto;
  margin-top: 10%;
    text-align: justify;

    padding:20px;
    font-family: sans-serif;
    position: center;

}
.example-card {
  max-width: 400px;
  margin:2%;
  margin-left: 10%;
  margin-top: 10%;
  height: 150px;

}
.example-header-image.myavatar{
  padding: 150px;
}
.mat-card-title{
  margin-left: 50%;
}
.mat-card-subtitle{
  margin-left: 50%;

}


